<%= form_with(model: [:manage, retailer], local: true) do |form| %>
  <% if retailer.errors.any? %>
    <div id="error_explanation">
      <h2>Please Review Your Changes</h2>

      <ul>
        <% retailer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :uri_string %>
    <%= form.text_field :uri_string %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
